src/ClassLibrary1/.vs/ProjectEvaluation/classlibrary1.strings.v9.bin
src/ClassLibrary1/.vs/ProjectEvaluation/classlibrary1.projects.v9.bin
/src/ClassLibrary1/.vs
/src/ByteChecker/ByteChecker/obj
/src/ByteValidator/ByteValidator/obj
/test/Tests/Tests.ByteParser/bin
/test/Tests/Tests.ByteParser/obj
/src/.vs
/src/Tests.ByteParser/bin
/src/Tests.ByteParser/obj
/src/ByteValidator/obj
/src/ByteChecker/obj
/src/ByteChecker/ByteChecker/bin
/src/ByteChecker/bin
/src/ByteValidator/bin
